/* === Mode sombre === */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode a {
  color: #ffcc00;
}

body.dark-mode .header-area,
body.dark-mode .sub-header,
body.dark-mode footer {
  background-color: #1e1e1e;
}

body.dark-mode .card,
body.dark-mode .item,
body.dark-mode input,
body.dark-mode textarea {
  background-color: #2a2a2a;
  color: #ffffff;
  border-color: #444;
}
